@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');
*
{
    margin: 0;
    padding: 10px;
}
body 
{
    font-family: 'Inclusive Sans', sans-serif;
}

.card
{
    background-color: #ffffff90;
    border-radius: 2%;
    border: 2px solid #1c0a50;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.cont 
{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
a{
    background-color: #0100247c; 
    color: #fff;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    align-items: center;
    text-decoration: none;
    width: 100%;
}


.botao:hover 
{
    background-color: #0056b3; 
}

.cont 
{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.label-float
{
   font-size: 15px;
    padding: 10px;
    text-align: center;



}


.imagem {
    position: relative; /* Necessário para posicionar a imagem de hover */
    display: inline-block;
}

.imagem img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s; /* Efeito de transição suave */
}

/* Oculta a imagem de hover por padrão */
.imagem-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Inicialmente, a imagem de hover está oculta */
}

/* Quando o mouse passa sobre a imagem base, mostra a imagem de hover */
.imagem:hover .imagem-hover {
    opacity: 1; /* Torna a imagem de hover visível no hover */
}